<h2>Edit Sections</h2>

<button routerLink="/profile"
        class="btn btn-primary btn">
  Profile
</button>
&nbsp;&nbsp;
<button routerLink="/home"
        class="btn btn-primary btn">
  Home
</button>

<div class="row">

  <div *ngFor="let course of courses" class="col-sm-3">

    <ul class="list-group">
      <li class="list-group-item">
        <h4>{{course.title}}</h4>
      </li>
      {{findSectionsForCourse(course.id)}}

      <li *ngFor="let section of sections" class="list-group-item">

        {{section.name}} {{section.seats}}

        <button (click)="enroll(section)"
                class="float-right btn btn-primary">Update
        </button>
        <button (click)="enroll(section)"
                class="float-right btn btn-danger">Delete
        </button>
      </li>

      <div class="dropdown-divider"></div>
      <!--<li class="list-group-item">-->
        <!--<input [(ngModel)]="sectionName" placeholder="Section Name" class="form-control">-->

        <!--<input [(ngModel)]="seats" placeholder="Seats available" class="form-control">-->

        <!--<button (click)="createSection(sectionName, seats, course.id)" class="btn btn-success btn-block">-->
          <!--Add Section-->
        <!--</button>-->
      <!--</li>-->
    </ul>

  </div>
</div>
